$white: #ffffff;
$black: #101010;
$dark-brown: #38302e;
$brown: #988574;
$light-brown: #c7b39a;
$green: #abd375;
$light-yellow: #ffc;
$yellow: #fa622f;
$khaki: #f0e68c;
$orange: #eea60a;
$blue: #6aaee6;
$gray: #767676;
$silver: #999;
$red: #f03f40;
$purple: #5f0080;

$base-bg: $white;
$base-text: $black;

$primary-color: $purple;
$content-color: #333333;
$accent-yellow: $yellow;
$error-color: $red;

$secondary-color: $brown;
$shadow-color: $black;
$border-color: $gray;
