@use "./../utils" as *;

.login {
  @include paddingY(rem(80px));
  @include autoMargin;
  text-align: center;

  &__title {
    @include font(rem(21px), 700);
  }
  &__form {
    padding: rem(44px) 0 rem(80px) 0;
    @include box($w: rem(340px));
    @include autoMargin;
  }
  &__fieldset {
    @include flexbox(column, $gap: (rem(9.6px)));
  }
  &__input {
    line-height: 1rem;
    border-radius: 4px;
    border: 1px solid #a6a6a6;
    @include box($w: 100%);
    @include padding(12px);
    &::placeholder {
      @include font($fs: rem(14px), $cl: $gray-400);
    }

    &:focus {
      outline: none;
      border: 1px solid $primary-color;
      &::placeholder {
        @include font($fs: rem(14px), $cl: $primary-color);
      }
    }
  }
  &__find {
    @include flexbox($direction: row, $justify: flex-end, $gap: rem(4px));
    @include box($w: 100%);
    @include font($fs: rem(12px));
  }
  &__button {
    background: $primary-color;
    margin-top: 1rem;
    border-radius: 4px;
    border: 1px solid #a6a6a6;
    @include padding(rem(16px));
    @include box($w: 100%);
    @include font($cl: $white);
  }
  &__signIn {
    border-radius: 4px;
    background: $white;
    border: 1px solid $primary-color;
    @include padding(rem(16px));
    @include box($w: 100%);
    @include font($cl: $primary-color);
  }
  .errorMessage {
    display: none;
    text-align: left;
    @include font($fs: rem(12px), $cl: $red);
  }

  .is--invalid + .errorMessage {
    display: block;
    margin-left: 2px;
  }
}
