@use "./../utils/" as *;

.footer {
  @include box($w: 100vw, $h: rem(629px));
  &__contents {
    max-width: rem(1050px);
    @include autoMargin;
    @include flexbox(row, space-between, inherit, wrap);
  }
  &__cs {
    flex-basis: 50%;
    @include flexbox(column, $gap: rem(16px));

    &__title {
      @include font($fs: rem(21px), $fw: 700, $lh: 140%, $cl: $content-color);
    }
    &__inquiry {
      @include flexbox(column, flex-start, stretch, nowrap, rem(16px));
    }
    &__nonMember {
      vertical-align: top;
      @include flexbox(column, nowrap);
      @include font($fs: rem(12px), $lh: 160%, $cl: $content-color);
    }
  }
  &__about {
    flex-basis: 50%;
    padding-top: rem(8px);
    @include flexbox(column, nowrap, $gap: rem(36px));
    &__list {
      @include flexbox($direction: row, $justify: space-between, $wrap: nowrap);
    }
  }
  &__companyInfo {
    @include flexbox(column, nowrap);
    @include font($fs: rem(12px), $lh: 160%, $cl: $content-color);
  }
  &__sns {
    &List {
      @include flexbox(row, nowrap, $gap: rem(20px));
    }
    &Link {
      @include box(rem(30px), rem(30px));
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  &__mark {
    margin-top: rem(20px);
    @include box($w: 100vw);
    @include flexbox(row, nowrap, $gap: rem(12px));
    &__button {
      background: transparent;
      border: none;
      padding: rem(24px) 0rem rem(32px) 0rem;
      min-width: rem(230px);
      @include flexbox($direction: row, $items: flex-start);
      &:nth-child(3) {
        @include box($w: 360px);
      }
    }
  }
  &__copyright {
    background: var(--gray-50, #f9f9f9);
    padding: rem(20px) 0 rem(32px) 0;
    @include box($w: 100vw, $h: auto);
    @include flexbox(column, $justify: center, $items: center);
    @include font($fs: rem(10px), $lh: 160%, $cl: #898989);
  }

  &__copyright__notice {
    margin-top: 8px;
  }
  &__companyInfo__description span:nth-child(even) {
    @include marginX(rem(5px));
  }

  .cs {
    &__info {
      &Number {
        @include font(rem(37px), 700, 140%, $cl: $content-color);
      }
      &Time {
        margin-left: rem(8px);
        @include font(rem(16px), 600, 150%, $cl: $content-color);
      }
    }
    &__inquiry {
      &KaKao,
      &1to1,
      &Bulk {
        @include flexbox($gap: rem(16px));
      }
      &__button {
        border: 1px solid #c4c4c4;
        background: white;
        @include box(rem(140px), rem(40px));
        @include padding(rem(4px));
      }
      &__description {
        margin-top: -3px;
        vertical-align: top;
        @include flexbox(column, nowrap);
        @include font($lh: 160%, $cl: $content-color);
      }
    }
  }
  .about {
    &__link {
      @include font($lh: 160%, $cl: $content-color);
    }
  }
  .mark {
    &__description {
      display: block;
      margin-left: 8px;
      text-align: left;
      @include font($fs: rem(10px), $lh: 160%, $cl: $content-color);
      @include flexbox(column);
    }
  }

  #blogLink {
<<<<<<< HEAD
    background-image: url("./../../assets/icons/Blog.svg");
=======
    background-image: url("/src/assets/icons/");
>>>>>>> 9f71238e134ee3e67abe2641493690019c1dd230
  }

  #facebookLink {
    background-image: url("./../../assets/icons/FaceBook.svg");
  }

  #instagramLink {
    background-image: url("./../../assets/icons/Instagram.svg");
  }

  #snsLink {
    background-image: url("./../../assets/icons/sns.svg");
  }

  #youtubeLink {
    background-image: url("./../../assets/icons/Youtube.svg");
  }
  .primary {
    color: $primary-color;
  }
}
