@use "./../utils/" as *;
.footer {
  height: rem(629px);
  color: $content-color;

  &__contents {
    max-width: 1050px;
    display: flex;
    @include autoMargin;
    @include flexbox(row, space-between, inherit, wrap);
  }
  &__cs {
    flex-basis: 50%;
    display: flex;
    gap: 1rem;
    @include flexbox(column, nowrap);

    &__title {
      @include font(rem(21px), 700, 140%, inherit);
    }
    &__inquiry {
      display: flex;
      @include flexbox(column, flex-start, stretch, nowrap);
      gap: 1rem;
    }
    &__nonMember {
      display: flex;
      line-height: 160%;
      vertical-align: top;
      flex-flow: column nowrap;
    }
  }
  &__about {
    flex-basis: 50%;
    display: flex;
    gap: rem(28px);
    padding-top: rem(28px);
    @include flexbox(column, nowrap);
  }
}

.cs {
  &__info {
    &Number {
      @include font(rem(37px), 700, 140%, inherit);
    }
    &Time {
      @include font(rem(16px), 600, 150%, inherit);
      margin-left: 8px;
    }
  }
  &__inquiry {
    &KaKao,
    &1to1,
    &Bulk {
      display: flex;
      gap: 1rem;
    }
    &__button {
      border: 1px solid var(--gray-200, #c4c4c4);
      width: 140px;
      height: rem(40px);
      padding: rem(4px);
      background: white;
    }
    &__description {
      margin-top: -3px;
    }
  }
}

.cs__inquiry__description,
.footer__cs__nonMember {
  display: flex;
  flex-flow: column nowrap;
  line-height: 160%;
  vertical-align: top;
}
.footer__about__list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  font-size: rem(16px);
}
.footer__companyInfo {
  display: flex;
  flex-flow: column nowrap;
  font-size: rem(12px);
  line-height: 160%;
}
.footer__snsList {
  display: flex;
  flex-flow: row nowrap;
  gap: rem(20px);
}
.footer__snsLink {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
}
#blogLink {
  background-image: url("./../../assets/icons/Blog.svg");
}

#facebookLink {
  background-image: url("./../../assets/icons/FaceBook.svg");
}

#instagramLink {
  background-image: url("./../../assets/icons/Instagram.svg");
}

#snsLink {
  background-image: url("./../../assets/icons/sns.svg");
}

#youtubeLink {
  background-image: url("./../../assets/icons/Youtube.svg");
}

.footer__mark {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}
.footer__mark__button {
  display: flex;
  background: transparent;
  justify-content: space-between;
  align-items: flex-start;
  border: none;
  padding: 1.5rem 0rem 2rem 0rem;
}
.mark__descriptionWrapper {
  display: flex;
  flex-direction: column;
}

.mark__description {
  display: block;
  margin-left: 8px;
  font-size: 10px;
  line-height: 160%;
  text-align: left;
}

.footer__copyright {
  display: flex;
  width: 1912px;
  flex-direction: column;
  align-items: center;
  color: #898989;
  background: var(--gray-50, #f9f9f9);
  font-size: 10px;
  line-height: 160%;
  padding: 20px 0 32px 0;
}

.footer__copyright__notice {
  margin-top: 8px;
}
