@use "./../utils" as *;

//input search x 버튼 안보이게 하는 속성
@mixin inputSearchClear {
  &::-ms-clear,
  &::-ms-reveal {
    display: none;
    width: 0;
    height: 0;
  }
  &::-webkit-search-decoration,
  &::-webkit-search-cancel-button,
  &::-webkit-search-results-button,
  &::-webkit-search-results-decoration {
    display: none;
  }
}

.clearfix {
  @include clearFix;
}

.header {
  margin-top: rem(42px);
  padding: rem(67px) 0 rem(13px);
  @include box($w: 100%);
  &__group {
    @include box($w: rem(1050px));
    @include autoMargin;
    @include po(relative);
  }
}

.header__group__tab {
  @include flexbox($items: center);
  float: left;
  .group__logo {
    margin-right: rem(12px);
  }
  .group__itemBox {
    @include flexbox;
  }
  .itemBox__link {
    @include po(relative);
    @include font(1.333rem, 600, normal, $gray-400);
  }
  .group__itemBox__item:nth-of-type(2) .itemBox__link::after {
    content: "";
    display: inline-block;
    background: url(../../assets/icons/new-1.svg) no-repeat;
    @include box(rem(7px), rem(7px));
    @include pos($t: rem(-7px), $r: rem(-13px));
  }
  .itemBox__link--active {
    color: $primary-color;
  }
  .itemBox__item__divider {
    display: inline-block;
    color: #d9d9d9;
    @include marginX(6.5px);
  }
}

.header__group__searchForm {
  @include pos($t: 50%, $r: 50%);
  transform: translate(50%, -50%);
  border-radius: rem(4px);
  border: rem(1px) solid $primary-color;
  @include paddingY(rem(12px));
  @include paddingX(rem(20px));
  .group__searchForm__fieldset {
    @include box($w: rem(200px));
    @include autoMargin;
  }
  .searchForm__group {
    @include flexbox($items: center);
  }
  .group__input {
    border: 0;
    @include font($fs: rem(21.328px), $cl: $gray-400);
    @include box($w: rem(324px));
    @include inputSearchClear;
  }
  .group__input:focus {
    outline: none;
  }
  .searchForm__group__button {
    @include buttonClear("./../../assets/icons/Search.svg");
    @include box(rem(36px), rem(36px));
  }
}

.header__group__myPage {
  float: right;
  @include flexbox;
  .group__myPageLi button {
    margin-left: rem(20px);
    @include box(rem(36px), rem(36px));
  }
  .group__myPageLi:first-child button {
    @include buttonClear("../../assets/icons/Location.svg");
  }
  .group__myPageLi:nth-of-type(2) button {
    @include buttonClear("../../assets/icons/Heart.svg");
  }
  .group__myPageLi:nth-of-type(3) button {
    @include buttonClear("../../assets/icons/icon-cart.svg");
  }
}

.header__group__memberOnly {
  @include flexbox;
  @include pos($t: rem(-55px), $r: 0);
  @include font($fs: rem(12.003px), $cl: $content-color);
  .group__memberOnlyLi__divider {
    color: #d9d9d9;
    @include marginX(6.805px);
  }
  .group__memberOnlyLi--active {
    color: $primary-color;
  }
  .group__memberOnlyLi:nth-child(3) .group__memberOnlyLi__link {
    padding-right: rem(12px);
    @include po(relative);
  }
  .group__memberOnlyLi:nth-child(3) .group__memberOnlyLi__link::after {
    @include box(rem(8px), rem(5.6px));
    content: "";
    background: url(./../../assets/icons/Icon_down\ 1.svg) no-repeat;
    @include pos($t: 50%, $r: 0);
    transform: translateY(-50%);
    display: inline-block;
    cursor: pointer;
  }
}
