@use "./../utils/" as *;

// 내비게이션
.nav {
  @include box(rem(1050px), rem(40px));
  @include autoMargin;
  @include pos(relative);
}

.nav__container {
  width: rem(1050px);
  height: rem(40px);
  @include autoMargin;
  @include flexbox(row, space-between, center, nowrap);
  padding: 16px 0;
  @include paddingY(rem(16px));
  line-height: 1rem;
}

.nav__category {
  display: flex;
  gap: 10px;
  width: 84px;
  @include pos(relative);
}

.nav__category__list {
  display: flex;
  @include flexbox(column, nowrap);
  @include pos(absolute, 32px);
  display: none;
  height: rem(520px);
  overflow: auto;
  z-index: 999;
}
.nav__category:hover .nav__category__list {
  display: block;
  background: white;
  border: 1px solid #333333;
}
.nav__category__image {
  @include box(rem(16px), rem(14px));
  @include pos(absolute, 5px, 0, 0, 0);
}
.nav__collection__list {
  @include flexbox(row, center, center, nowrap);
}
.nav__category__text {
  margin-left: 25px;
}
.nav__category__text,
.collection__link {
  color: var(--content, #333);
  @include font(rem(16px), 600, 150%);
}
.nav__category:hover .nav__category__text {
  color: #5f0080;
}

.category__item {
  background: url(./../../assets/icons/MenuIcon.svg) no-repeat 0 -6px;
  background-size: 40%;
  width: rem(247px);
  height: rem(40px);
  padding: 10px 0px 8px 45px;
  white-space: nowrap;
  overflow: hidden;
}

.nav__category:hover .category__item {
  width: rem(247px);
  display: flex;
  flex-direction: column;
}
.nav__category:hover .category__item:hover {
  background-color: #f7f7f7;
}
.nav__category:hover .category__link:hover {
  color: #5f0080;
  font-weight: 700;
}
.category__link {
  color: #333333;
  display: block;
}
.sprite2 {
  background-position: 0 -45px;
}
.sprite3 {
  background-position: 0 -86px;
}
.sprite4 {
  background-position: 0 -127px;
}
.sprite5 {
  background-position: 0 -168px;
}
.sprite6 {
  background-position: 0 -209px;
}
.sprite7 {
  background-position: 0 -250px;
}
.sprite8 {
  background-position: 0 -291px;
}
.sprite9 {
  background-position: 0 -332px;
}
.sprite10 {
  background-position: 0 -373px;
}
.sprite11 {
  background-position: 0 -414px;
}
.sprite12 {
  background-position: 0 -455px;
}
.sprite13 {
  background-position: 0 -496px;
}
.sprite14 {
  background-position: 0 -537px;
}
.sprite15 {
  background-position: 0 -578px;
}
.sprite16 {
  background-position: 0 -619px;
}
.sprite17 {
  background-position: 0 -660px;
}
.sprite18 {
  background-position: 0 -701px;
}
.sprite19 {
  background-position: 0 -742px;
}
.sprite20 {
  background-position: 0 -783px;
}
.sprite21 {
  background-position: 0 -824px;
}
.sprite22 {
  background-position: 0 -866px;
}

.collection__item {
  width: 150px;
  text-align: center;
}

.collection__item:hover .collection__link {
  text-decoration: underline #5f0080;
  color: #5f0080;
}

.nav__info {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 16px;
  border: 1px solid var(--gray-300, #a6a6a6);
}
.primary {
  color: $primary-color;
}
